<div id="footer">
    <div class="f_top">
        <div class="center">
            <ul class="f_gnb">
                <li><a href="#">회사소개</a></li>
                <li><a href="#">오시는길</a></li>
                <li><a href="#">개인정보처리지침</a></li>
                <li><a href="#">이메일무단수집거부</a></li>
            </ul>
        </div>
    </div>
    <div class="f_bot">
        <div class="center">
            <h4><img src="/img/logo.png">GNTECH</h4>
            <div class="f_text">
                <div class="text_top">
                    <p class="text_col">본사</p>
                    <p>경상북도 경주시 천북면 천북산단로70</p>
                    <p>Tel : 054-743-5528</p>
                    <p>Fax : 054-743-5528</p>
                </div>
                <div class="text_bot">COPYRIGHT (C) <span>GNTECH</span>.ALL RIGHTS RESERVED</div>
            </div>
        </div>
    </div>
</div>